{% extends "layout.html" %}
{% block body %}

  <div class="row">
    <div class="col-md-4 offset-md-4">
      <div class="card card-body">
        <form action="/update/{{contactos.0}}" method="POST">
          <div class="form-group">
            <input type="text" name="Nombre" value="{{contactos.1}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Telefono" value="{{contactos.3}}" class="form-control">
          </div>
          <div class="form-group">
            <input type="text" name="Correo" value="{{contactos.2}}" class="form-control">
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-primary btn-block">
              Actualizar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

{% endblock %}
